.content {
    background-color: rgb(94, 91, 91);
}

.form-container {
    margin-top: 50px;
    margin-left: 40px;
    color: rgb(207, 192, 192);
}

.email {
    margin-top: 50px;
}

#title {
    font-size: 40px;
    color: white;
}

h3 {
    font-size: 38px;
    margin-bottom: 10px;
}

#pwd-form, #email-form {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 450px;
    padding: 20px;
    border-radius: 15px;
}

#email-form {
    width: 520px;
}

label {
    color:rgb(255, 255, 255);
    font-size: 22px;
    color: black;
    font-weight: bold;
}

#pwd-form *, #email-form * {
    margin: 5px;
}

#pwd-btn, #email-btn {
    margin-top: 10px;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: rgb(223, 85, 35);
    color: rgb(236, 229, 229);
    font-size: 22px;
    transition: color 0.3s;
}

#pwd-btn:hover, #email-btn:hover {
    background-color: rgb(135, 65, 39);
    color: rgb(255, 255, 255);
}

input {
    height: 32px;
    width: 220px;
    border-radius: 8px;
    border: none;
    background-color: cornflowerblue;
    font-size: 20px;
}

#new-email {
    width: 330px;
}

#pwd-msg-display, #email-msg-display {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    color: rgb(249, 111, 124);
}

#settings {
    color: #39f0cc;
}