body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(94, 91, 91);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    height: 420px;
    width: 360px;
    background-color:darkcyan;
}

#title {
    text-align: center;
    font-size: 45px;
    color:rgb(212, 170, 114);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content * {
    height: 40px;
    width: 300px;
    margin: 5px;
    font-size: 20px;
}

#username, #password, #email {
    background-color:rgb(126, 197, 197);
    border-radius: 8px;
    border: 1px solid black;
}

#signup-btn {
    margin-top: 28px;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 25px;
    width: 120px;
    height: 40px;
}

#signup-btn:hover {
    background-color: rgb(214, 191, 131);
}

#error-display {
    font-size: 20px;
    margin-top: 7px;
    color: rgb(98, 223, 41);
    text-align: center;
}