.content {
    background-color: rgb(94, 91, 91);
}

.content #main-title {
    font-size: 40px;
    color: white;
}

.main-blog {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.article-form {
    margin-bottom: 40px;
    background-color: rgb(234, 209, 148);
    border-radius: 20px;
    padding: 10px;
}

#add-post {
    display: flex;
    flex-direction: column;
    width: 720px;
}

#add-post #text {
    font-size: 20px;
    height: 120px;
    background-color: rgb(234, 209, 148);
    box-shadow: 0 2px 10px black;
    color:rgb(46, 43, 43);
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
}

.btn-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.form-content * {
    margin-right: 3px;
}

#add-post #image {
    display: none;
}

#image-img, #send-img {
    width: 35px;
    height: 35px;
}

#post-btn {
    background-color: rgb(234, 209, 148);
    border: none;
}

#image-img:hover, #post-btn:hover {
    background-color: rgb(215, 178, 86);
    border-radius: 5px;
}

.filename, .imagename {
    font-size: 16px;
    color:rgb(34, 34, 252);
}

.article-wrapper {
    display: flex;
    flex-direction: column;
}

.article-wrapper {
    margin-left: 100px;
}

.article {
    border: none;
    word-wrap: break-word;     /* Break long words */
    overflow-wrap: break-word; /* Modern equivalent */
    white-space: normal;       /* Allow text to wrap */
    width: 750px;
    font-size: 25px;
    padding: 22px;
    border-radius: 30px;
    text-align: justify;
    margin-bottom: 20px;
    background-color: rgb(207, 176, 138);
}

.article .info {
    margin-bottom: 15px;
}

.article .info #user-name {
    font-weight: bold;
}

.article .info #posted-time {
    color:rgb(33, 93, 153);
}

.add-article-form-error {
    font-size: 20px;
    color:rgb(208, 32, 32);
    font-weight: bold;
    margin: 10px;
}

.article-error-msg {
    font-size: 30px;
    color: rgb(249, 93, 93);
    font-weight: bold;
    margin-bottom: 40px;
}

.controller-btn {
    height: 40px;
    display: flex;
    justify-content: center;
}

.like-count {
    margin-left: 10px;
    margin-right: 180px;
}

.cmt-count {
    margin-left: 10px;
}

.like-img, .cmt-img, #close-cmt-btn, .delete-img {
    width: 100%;
    height: 100%;
}

#post-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#post-text {
    margin-bottom: 10px;
}

#like-btn, #cmt-btn {
    width: 4%;
    height: 70%;
    background-color: rgb(207, 176, 138);
    border: none;
}


#cmt-btn:hover, #like-btn:hover {
    width: 6%;
    height: 100%;
}

.article-cmt-container {
    position: fixed;
    top: 220px;
    right: 150px;
    width: 520px;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.article-cmt-container .header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 140px;
    right: 150px;
    font-size: 20px;
    text-align: center;
    color:rgb(48, 211, 211);
    margin-top: 20px;
    margin-bottom: 40px;
    width: 470px;
}

#delete-post-btn {
    background-color: rgb(207, 176, 138);
    border: none;
}

#close-btn, #delete-post-btn {
    width: 35px;
    height: 35px;
}

#close-btn:hover, #delete-post-btn:hover {
    background-color: white;
    border-radius: 20px;
}

.msg-container {
    display: flex;
    flex-direction: column;
}

.cmt-msg-container {
    max-width: 420px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    white-space: normal; 
    margin-left: 50px;
    width: fit-content;
    margin-right: 50px;
    margin-bottom: 15px;
    min-width: 0;
    background-color: rgb(181, 137, 84);
    padding: 12px;
    border-radius: 22px;
}

.cmt-msg-container #cmt-content {
    font-size: 20px;
}

.cmt-msg-container #user {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.cmt-msg-container #cmt-time {
    font-size: 14px;
    color: rgb(231, 247, 10);
}

.cmt-container {
    position: fixed;
    top: 750px;
    right: 150px;
}

.cmt-error-container {
    font-size: 25px;
    color: rgb(246, 100, 100);
    font-weight: bold;
    margin-left: 30px;
}

#cmt-form {
    display: flex;
    align-items: center;
}

#cmt-msg {
    width: 420px;
    font-size: 20px;
    border-radius: 10px;
    padding: 8px;
    height: 70px;
    background-color: rgb(156, 156, 157);
    color:aliceblue;
    margin-right: 12px;
}

#send-cmt-img {
    width: 40px;
    height: 40px;
}

#send-cmt-img:hover {
    background-color: rgb(214, 209, 209);
}

.header {
    display: flex;
    justify-content: space-between;
}

#articles {
    color: #39f0cc;
}